body{
  height:auto;
  overflow:scroll;
}
main{
  display:flex;
  flex-direction:column;
  justify-content: space-around;
}
#banner{
  background-image:url('../resources/library.jpg');
  font-family: 'Goudy Bookletter 1911', serif;
  height:20em;
}
#div1{
  display:flex;
  flex-direction:row;
  min-height:50em;
  height:auto;
  overflow-y:auto scroll;
  justify-content: space-around;
  margin:0 10%;
  font-family:"Lato", sans-serif;
}

#add{

}
#error{
  align-self:center;
  background-color: #fc685f;
  border: 1px solid red;
  border-radius: 7px;
  height: 200px;
  overflow-y:scroll;
  width: 25em;
  box-sizing: border-box;
  padding:1%;
}
#viewresult{
  align-self:center;
  background-color: #BEF781;
  border: 1px solid #82FA58;
  border-radius: 7px;
  height: 200px;
  overflow-y: scroll;
  width: 25em;
  margin-top: 3em;
  box-sizing: border-box;
  padding:1%;
}

#change{
  border-right: 1px solid black;
}
#introduction{
  margin-top:2%;
  display:flex;
  flex-direction:row;
  justify-content: center;
  color:white;
  font-weight:bold;
}
#key_view{
  display:flex;
  flex-direction:column;
  justify-content: center;
  margin-bottom:10%;
}

#keybutton{
  align-self:center;
  width:20%;
  padding: 1em;
  letter-spacing: 1px;
  background-color: #B0C4DE;
  margin-bottom:1%;
  font-family: 'Goudy Bookletter 1911', serif;
  font-weight:bold;
}
#keyresult{
  align-self:center;
  background-color: #BEF781;
  color: #088A29;
  border-radius:7px;
  border:1px solid #82FA58;
  width:8em;
  height:2em;
  padding-top:1%;
  text-align:center;
}
#input-wrap{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  margin-bottom:1.3em;
}
.indiv {
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  padding:5% 4%;
  width: 50%;
}

#viewbutton, #addbutton {
  align-self:center;
  width: 12em;
  height: 3em;
  background-color: rgb(124,	211,	250);
  border-radius: 8px;
  font-size: 1.3em;
  margin-bottom:1.5em;
}

h4 {
  margin: 0;
}
